@import "piano.scss";
@import "_reset.scss";

body {
    display: grid;
    grid-template-rows: auto auto 1fr;
    gap: 10px;
    margin: 0;
    background: #222;
}

.top-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#instructions {
    color: #f9f6f2;
    background: #1b1b1b;
    padding:20px;
    border-radius: 16px;
    width: 70%;
    height: 60%;
    // overflow: auto;
    margin: 20px auto;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.3em;
    line-height: 1.6em;
    box-shadow: 0 0 10px #f9f6f2;
    list-style: none;
}

#instructions h2 {
    text-align: center;
    font-family: cursive;
    text-decoration: underline;
    -webkit-text-stroke: 0.001px #f1dd70;
    font-size: 3em;
    color: rgb(248, 237, 137);
    margin-bottom: 20px;
    font-weight: bold;
}

#instructions li {
    margin-bottom: 2px;
    padding-left: 20px;
    text-indent: -20px;
}

#instructions li:before {
    content: "♫ ";
    font-size: 20px;
    vertical-align: middle;
}

// victory message
@keyframes fadein {
0% { opacity: 0; }
100% { opacity: 1; }
}

.message {
opacity: 0;
transition: opacity 2s;
position: relative;
bottom: unset;
left: unset;
transform: unset;
font-size: 2.2vw;
font-family: cursive;
text-align: center;
background-color: white;
border: 6px ridge gold;
padding: 20px;
border-radius: 10px;
box-shadow: 0 0 10px gold;
z-index: 4;
align-self: center;
}

.message.show {
animation: fadein 2s;
opacity: 1;
}

.piano-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.piano-button {
    display: block;
    background: linear-gradient(-30deg, #1e1e1e 20%, rgb(65, 63, 63) 80%);
    border: 1px ridge rgb(255, 255, 255);
    color: rgb(249, 249, 247);
    padding: 1vh 2vw;
    margin: 1vh;
    border-radius: 10px;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
    width: 15vw;
    max-width: 150px;
    height: 6vh;
    cursor: pointer;
}

.piano-button:hover {
    background: linear-gradient(30deg, white, rgb(97, 87, 87));
    color: rgb(43, 43, 43);
}

.piano-button:active {
    background: rgb(55, 53, 55);
    color: white;
}

.button-column {
    display: flex;
    flex-direction: column;
}

.note-count {
    display: block;
    background-image: url("../assets/images/ebony.jpg");
    border: 6px ridge gold;
    color: #ffd000;
    padding-top: 3vh;
    padding-bottom: 1vh;
    padding-left: 2vw;
    padding-right: 2vw;
    margin: 3vh 1vh 1vh 1vh;
    border-radius: 10px;
    text-align: center;
    text-decoration: none;
    font-size: 2em;
    font-family: cursive;
    box-shadow: 0 0 10px gold;
    width: 18vw;
    max-width: 280px;
    height: 6vh;
}

@keyframes glow {
    0% { box-shadow: 0 0 5px #ffd700, 0 0 10px #ffd700, 0 0 15px #ffd700, 0 0 20px #ffd700; }
    100% { box-shadow: 0 0 10px #ffd700, 0 0 20px #ffd700, 0 0 30px #ffd700, 0 0 40px #ffd700; }
}

.note-count-glow {
    animation: glow 2.5s ease-in-out infinite alternate;
}

// keyboard div

.keyboard {
    text-align: center;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(212, 209, 209);
    width: 25%;
    border: 1px inset #1b1b1b;
    border-radius: 16px;
}

// .keyboard__row {
//     display: inline-block;
//     height: 3em;
//     margin: 0.2em;
// }

.keyboard-row {
    display: flex;
    justify-content: center; // To center the keys in each row
    height: 3em;
    margin: 0.2em;
    width: 100%;
}

.keyboard-row > * {
    position: relative;
    text-align: center;
    color: #eee;
    border-radius: 0.3em;
    margin: 0.2em;
    padding: 0.2em;
    width: 3.3em;
    height: 100%;
    box-sizing: border-box;
    border: 1px solid #444;
    box-shadow: 0 0.2em 0 0.05em #222;
    border-bottom-color: #555;
}

.key-letter {
    line-height: 2.8em;
}

.keyboard > .keyboard-row {
    text-align: center;
}

.natural {
    // background-color: white;
    background: linear-gradient(180deg, #f8f8f8 10%, white 90%);
    color: black;
}

.accidental {
    background: linear-gradient(to bottom, rgba(30,30,30,1) 0%, rgba(0,0,0,1) 80%);
    // background-color: black;
    color: white;
}

.transparent {
    background-color: transparent;
    border: none;
    box-shadow: none;
}
