@import "piano.scss";
@import "_reset.scss";

body {
    display: grid;
    grid-template-rows: auto auto 1fr;
    gap: 10px;
    margin: 0;
    background: #222;
    font-family: 'Helvetica', Arial, sans-serif;
}

.top-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#instructions {
    color: #f9f6f2;
    text-align: center;
    // display: block;
    align-content: center;
    background: #1b1b1b;
    padding: 20px;
    border: 1px ridge #1b1b1b;
    border-radius: 16px;
    min-width: 740px;
    width: 70%;
    height: 60%;
    margin: 20px auto;
    // font-family: Arial, Helvetica, sans-serif;
    font-family: Montserrat;
    font-size: 1.3em;
    line-height: 1.6em;
    box-shadow: 0 0 10px #f9f6f2;
    list-style: none;
}

h2 {
    text-align: center;
    font-family: cursive;
    text-decoration: underline;
    -webkit-text-stroke: 0.001px #f1dd70;
    font-size: 3em;
    color: rgb(248, 237, 137);
    margin-bottom: 21px;
    font-weight: bold;
}

#instructions p {
    font-weight: bold;
    font-size: 24px;
    padding: 3px;
}

#instructions strong {
    color: ivory;
    font-size: 1.01em;
    font-weight: bold;
}

#instructions li:before {
    content: "♫ ";
    font-size: 20px;
    vertical-align: middle;
    color: rgb(248, 237, 137);
}

// victory message
@keyframes fadein {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

.message {
    opacity: 0;
    transition: opacity 2s;
    position: absolute;
    top: 46%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 2.2vw;
    font-family: cursive;
    text-align: center;
    background-color: white;
    border: 6px ridge gold;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px gold;
    z-index: 4;
    align-self: center;
}

.message.show {
    animation: fadein 2s;
    opacity: 1;
}

.piano-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.piano-button {
    display: block;
    background: linear-gradient(-30deg, #1e1e1e 20%, rgb(65, 63, 63) 80%);
    border: 1px ridge rgb(248, 237, 137);
    color: rgb(248, 237, 137);
    padding: 1vh 0.5vw;
    margin: 1vh;
    border-radius: 10px;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    font-family: Montserrat;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
    width: 15vw;
    max-width: 150px;
    min-width: 140px;
    height: 6vh;
    cursor: pointer;
}

.piano-button:hover {
    background: linear-gradient(30deg, rgb(248, 237, 137), #c7ac12);
    color: rgb(43, 43, 43);
}

.piano-button:active {
    background: rgb(55, 53, 55);
    color: white;
}

.piano-button:focus {
    outline: none;
    box-shadow: 0 0 5px 2px rgba(248, 237, 137, 0.7);
}

.button-column {
    display: flex;
    flex-direction: column;
}

.note-count {
    display: block;
    background-image: url("../assets/images/ebony.jpg");
    border: 1px ridge rgb(248, 237, 137);
    color: rgb(248, 237, 137);
    -webkit-text-stroke: 0.001px #f1dd70;
    padding: 2vh 0.5vw;
    margin: 1vh;
    border-radius: 10px;
    text-align: center;
    font-weight: bold;
    font-size: 19px;
    font-family: cursive;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
    width: 140px;
    height: 24px;
}

@keyframes glow {
    0% { box-shadow: 0 0 5px rgb(248, 237, 137), 0 0 10px rgb(248, 237, 137), 0 0 15px rgb(248, 237, 137), 0 0 20px rgb(248, 237, 137); }
    100% { box-shadow: 0 0 10px rgb(248, 237, 137), 0 0 20px rgb(248, 237, 137), 0 0 30px rgb(248, 237, 137), 0 0 40px rgb(248, 237, 137); }
}

.note-count-glow {
    animation: glow 2.5s ease-in-out infinite alternate;
}

// keyboard div

.keyboard-container {
    display: flex;
    justify-content: center;
    width: 100%;
}

.keyboard {
    visibility: hidden;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(227, 227, 227);
    width: 440px;
    border: 1px inset #1b1b1b;
    border-radius: 16px;
    align-self: center;
}

.keyboard-row {
    display: flex;
    justify-content: center; // To center the keys in each row
    height: 3em;
    margin: 0.2em;
    width: 100%;
    padding-bottom: 5px;
}

.keyboard-row > * {
    position: relative;
    text-align: center;
    color: #eee;
    border-radius: 0.3em;
    margin: 0.2em;
    padding: 0.2em;
    width: 3.3em;
    height: 100%;
    box-sizing: border-box;
    border: 1px solid #444;
    box-shadow: 0 0.2em 0 0.05em #222;
    border-bottom-color: #555;
}

.key-letter {
    line-height: 2.8em;
}

.keyboard > .keyboard-row {
    text-align: center;
}

.natural {
    background: linear-gradient(180deg, #f8f8f8 10%, white 90%);
    color: black;
}

.accidental {
    background: linear-gradient(to bottom, rgba(30,30,30,1) 0%, rgba(0,0,0,1) 80%);
    color: white;
}

.transparent {
    background-color: transparent;
    border: none;
    box-shadow: none;
}
